@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, #root {
  background: transparent !important;
}

@layer utilities {
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes bounceDelay {
      0%, 80%, 100% {
        transform: scale(0);
      } 40% {
        transform: scale(1);
      }
    }

  .animate-waving-hand {
    animation: wave 1.6s ease-in-out infinite;
    display: inline-block;
    transform-origin: 70% 70%;
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.4s ease-out;
  }
}

